.news {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 70px;
    padding: 10px;
}
.actualites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.actualites p {
        color: #101F53;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 21px;
}
.lien {
        text-decoration: none;
        color: #6D7387;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        
}
.news-item {
    display: flex;
    flex-direction: row;
   
}
.title-date {
    display: flex;
    flex-direction: column;
  
}
.title {
        height: 44px;
        width: 294px;
        color: #101F53;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 22px;
        padding-bottom: 10px;
        
}
.date {
        color: #6D7387;
        font-family: "SF Pro Display";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
}