.profile {
    display: flex;
    flex-direction: row;
    /* height: 175px;
    width: 457px !important; */
    border-radius: 4px;
    background-color: #101F53;
}
.user {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    color: #fff;
    /* padding-left: 30px; */
}
.img {
    /* margin-top: 22px; */
}
.user-name {
    font-size: 18px;
    font-weight: bold;
    /* padding-top: 26px;
    padding-bottom: 4px; */
}
.user-desc {
    font-size: 14px;
    /* padding-bottom: 25px; */
}
.btn{
    /* height: 42px;
    width: 170px; */
    border-radius: 6px;
    background-color: #1F8EC6;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}