.profile {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background-color: #101F53;
    padding: 10px;
}
.user {
   
    display: flex;
    flex-direction: column;
    color: #fff;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}

.user-name {
    font-size: 22px;
    font-weight: bold;
  
}
.user-desc {
    font-size: 10px;
    
}
.btn{
   
    border-radius: 6px;
    background-color: #1F8EC6;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 4px;
}