.row-cell {
    padding-top: 20px;
    color: #969A9F;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.06px;
    line-height: 16px;
    text-align: center;
}
.checkStyle {
    width: '17px !important';
    height: '17px !important';
    margin-top: 4px;
    margin-right: 6px;
}
