.allservices {
    display: flex;
    flex-direction: column;
 
}
.title-services {
    color: #101F53;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    margin-left: 27px;
    margin-top: 23px;
}
.all-ser-item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
    height: 120px;
    width: 154px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.03);
}
.icon-ser {
    width: 25px;
    height: 25px;
    background-color: #EEF0FD;
    padding: 15px;
    border-radius: 50%;
    margin-left: 40px;
}
.icon-tit{
    height: 16px;
    width: 138px;
    color: #101F53;
    
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.06px;
    line-height: 16px;
    text-align: center;
}
.ser-all {
    /* width: 60% !important; */
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    margin-left: 27px;
    flex-wrap: wrap;
}
.list-ser-admin {
    display: flex;
    width: 94.5%;
    flex-direction: column;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-left: 27px;
    border-radius: 4px;
    margin-right: 32px; 

}
.list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 26px;
    /* padding-bottom: 18px; */
}
.title {
    font-weight: bold;
   

}
.box {
    box-sizing: border-box;
    height: 1px;
    border: 1px solid #F4F5F7;
}
th,
td {
    padding: 15px;
    text-align: left;
}
th {
    height: 16px;
        width: 106px;
        color: #969A9F;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.06px;
        line-height: 16px;
        text-align: left;
}
td {
    height: 18px;
        width: 79px;
        color: #000000;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.07px;
        line-height: 18px;
}
