.allservices {
   
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 0px;
 
}
.title-services {
    color: #101F53;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
   
    
}
.link {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
       text-decoration: none;
}
.all-ser-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
 
    padding: 15px ;
    margin-right: 15px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.03);
}
.icon-ser {
    width: 50px;
    height: 50px;
    background-color: #EEF0FD;
    padding: 15px;
    border-radius: 50%;
    /* margin-left: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.icon-tit{
    height: 16px;
    width: 138px;
    color: #101F53;
    
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.06px;
    line-height: 16px;
    text-align: center;
}
.ser-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.list-ser-admin {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #FFFFFF;
margin-right: 30px;

}
.list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.title-admin {
    font-weight: bold;
}
.box {
    box-sizing: border-box;
    height: 1px;
    border: 1px solid #F4F5F7;
}
th,
td {
    padding: 15px;
    text-align: left;
}
th {
    height: 16px;
        width: 106px;
        color: #969A9F;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.06px;
        line-height: 16px;
        text-align: left;
}
td {
    height: 18px;
        width: 79px;
        color: #000000;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.07px;
        line-height: 18px;
}
.form-global {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(199,199,200,0.3);
    margin-bottom: 27px;
}
.form {
    display: flex;
    flex-direction: row;
   
}
.input-form {
    box-sizing: border-box;
    height: 46px;
    width: 288px;
    border: 1px solid #D3DADF;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding-left: 8px;
}
.tit-form {
    color: #000000;
    font-size: 14px;
    letter-spacing: -0.06px;
    line-height: 16px;
    margin-bottom: 17px;
}
.dire {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 27px;
    margin-bottom: 20px;
}
.btn-conge {
    height: 46px;
  width: 194px;
  border-radius: 4px;
  background-color: #1F8EC6;
  color: #FFFFFF;
  margin-top: 56px;
 margin-left: 30px;
 border: none;
 cursor: pointer;
}
.squad {
    margin-top: 10px;
}
.squad-input {
    margin-right: 9px;
}
