.navbar { 
    display: flex;
    flex-direction: row;  
    justify-content: space-between !important;
    background-color: #fff;
    min-width: 1173px;

}
.input {
  padding-top: 15px;
  padding-bottom: 15px;
}
.icon-recherche {
    color:  #757575;

}
.input-recherche {
  position: relative;
  height: 40px;
  width: 303px;
  border-radius: 6px;
  background-color: #F4F5F7;
  border: none;
}
.title-nav {
  padding-left: 27px;
  width: 300px !important;
  color: #101F53;
  font-size: 18px;
  font-weight: bold;
  padding-top: 28px;
 
}
.icons {
  padding-top: 15px;
  padding-bottom: 15px;
  
}
.icons-nav {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between !important;
  align-content: center;

}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}
.panier {
  cursor: pointer;
}
.notif {
  cursor: pointer;
}