.navbar { 
    display: flex;
    flex-direction: row;  
    justify-content: space-between !important;
    min-width: 1175px;
    background-color: #fff;

}
.input {
  padding-top: 15px;
  padding-bottom: 15px;
}
.icon-recherche {
    color:  #757575;
    position: absolute;
    top: 26px;
    right: 413px;
}
.input-recherche {
  position: relative;
  height: 40px;
  width: 303px;
  border-radius: 6px;
  background-color: #F4F5F7;
  border: none;
}
.title {
  height: 22px;
  width: 164px;
  color: #101F53;
  font-family: Metropolis;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 22px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 27px;
}
.icons {
  padding-top: 15px;
  padding-bottom: 15px;
  
}
.icons-nav {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between !important;
  align-content: center;

}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.panier {
  cursor: pointer;
}
.notif {
  cursor: pointer;
}