.App {
    display: flex;
    flex-direction: row;
}
.layout {
    display: flex;
    flex-direction: column;
}
.layout {
    display: flex;
    flex-direction: column;
}
.services {
    display: flex;
    flex-direction: row;
}
.news {
    display: flex;
    flex-direction: column;
}